.catnav-container {
    background-color: teal;
    height: 40px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 30%;
}

.catnav-link {
    cursor: pointer;
    height: inherit;
    padding: 0 100px;
}

.catnav-link span {
    height: 100%;
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 1.15rem;
    padding: 0 10px;
    transition: 80ms;
}

.catnav-link span:hover {
    color: teal;
    background-color: white;
    transition: 80ms;
}

@media only screen and (max-width:380px) {
    .catnav-container {
        display: none !important;
    }
}