.catnav-parent-div {
    background-color: teal;
    height: 40px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 30%;
}

.catnav-children {
    cursor: pointer;
    height: inherit;
    padding: 0 100px;
}