.carousel-item {
    height: 60vh;
    width: 100vw;
    background-color: grey;
}

.carousel-caption {
    display: block;
    height: min-content;
    top: 200px;
    text-align: left !important;
}

.carousel-caption h1{
    font-size: 4.375rem !important;
    padding: 10px 0;
}

.carousel-caption, p {
    font-size: 20px !important;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    padding-bottom: 10px;
}

.carousel-button {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid;
    cursor: pointer;
    transition: 200ms;
    color: white;
}

.carousel-button:hover {
    transform: scale(1.1);
    transition: 200ms;
}