.product-main-div {
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5fbfd;
    position: relative;
    cursor: pointer;
}

.product-circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: white;
    position: absolute;

}

.product-img {
    height: 75%;
    z-index: 2;
}

.product-info {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    z-index: 3;
    align-items: center;
    justify-content: center;

}

.product-info:hover {
    opacity: 1;
    transition: all 200ms;
}

.product-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1.3rem;
    transition: all 80ms;
}

.product-icon:hover {
    background-color: #e9f5f5;
    transform: scale(1.1);
}